
<body>

    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <div class="loginBox">
        <form method="post" action="log">

            <div class="header">
                <h2>Login</h2>
            </div>

            <div class="inputBox">
                <input type="text"  name="username" placeholder="UserName">
		        <input type="password"  name="password"  placeholder="Password">
                <input type="text" name="name" placeholder="First Name">
                <input type="text" name="lastname" placeholder="Last Name">
            </div>

            <input type="submit" value="Login">

        </form>
    </div>
</body>