
 <div class="loginBox">
    <form method="post" action="log">

        <div class="header">
            <h2>Login</h2>
        </div>

        <div class="inputBox">
            <input type="text"  name="username" placeholder="Name">
		    <input type="password"  name="password"  placeholder="Password">
        </div>

        <input type="submit" value="Login">

    </form>
</div>
